<h1> #Error 404</h1>
<div class="face">
	<div class="band">
		<div class="green"></div>
		<div class="white"></div>
		<div class="green"></div>
	</div>
	<div class="eyes"></div>
	<div class="dimples"></div>
	<div class="mouth"></div>
</div>

<h1>Oops! Something went wrong!</h1>
