<div>
    <div id="container-div">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p><b>Total: </b>{{ inputArrayLength }}</p> 
                    <div *ngFor="let item of inputArray; let id = index" class="items">
                        <div>
                            <p><b>{{ item.id }}</b></p>
                            <p *ngFor="let pair of item | keyvalue">
                                <b>{{ pair.key }}:</b> {{pair.value}}
                            </p>

                                <app-customized-button-component 
                                    [inputTitle]="'Update'" 
                                    (outputClick)="update(item.id)">
                                </app-customized-button-component>
                        
                                    <app-customized-button-component 
                                    [inputTitle]="'Delete'" 
                                    (outputClick)="delete(item.id)">
                                </app-customized-button-component>                         

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>