.container-div {
  margin: 5%;
  width: 90%;
  padding: 10px;
}

.items {
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: beige;
  margin: auto;
  margin-top: 1%;
  width: 90%;
  opacity: 1;
  transition: 0.3s;

  :hover {
    opacity: 0.8;
    background-color: white;
  }
}

p {
  color: darkslategray;
  margin: auto;
  text-align: center;
}


app-customized-button-component {
    margin:1%;
}