<div 
  id="main"
  tabindex="-1" 
  role="dialog" 
  [class]="isFormModal === true ? 'modal' : 'not-modal'"
  [ngClass]="isFormOpen === true ? 'form-open' : 'form-close'">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"><i class="{{ customizedFormLogo }}"></i> {{ customizedFormTitle }}</h4>
      </div>

      <div class="modal-body">

        <form id="customizedForm" [formGroup]="customizedForm" (ngSubmit)="onSubmitForm()">

          <div *ngFor="let field of customFields" class="form-group form-outline">
            <b>{{ field.name }}:</b>

            <div *ngIf="field.type === 'password'">
              <input 
                styleDirective
                passwordDirective
                type="{{ field.type }}" 
                formControlName="{{ field.name }}" 
                placeholder="{{ field.value }}" 
                class="form-control"
                [attr.disabled]="field.disabled ? '' : null"
              >
            </div>

            <div *ngIf="field.type !== 'password'">
              <input 
                styleDirective
                type="{{ field.type }}" 
                formControlName="{{ field.name }}" 
                placeholder="{{ field.value }}" 
                class="form-control"
                [attr.disabled]="field.disabled ? '' : null"
              >
            </div>

            <span 
              class="text-danger" *ngIf="(customizedFormControls[field.name].invalid && 
              (customizedFormControls[field.name].dirty || 
              customizedFormControls[field.name].touched))">
              <b>{{ field.name }}:</b>
              <div *ngIf="customizedFormControls[field.name].errors?.['required']">
                is required.
              </div>

              <div *ngIf="customizedFormControls[field.name].errors?.['maxlength']">
                must be at max 20 characters long.
              </div>

              <div *ngIf="customizedFormControls[field.name].errors?.['isIncorrect']">
                {{ customizedFormControls[field.name].errors?.['correctValues'] }}
               
              </div>

              <div *ngIf="customizedFormControls[field.name].errors?.['isInvalidEmail']">
                {{ customizedFormControls[field.name].errors?.['validationMessage'] }}
               
              </div>

              <div *ngIf="customizedFormControls[field.name].errors?.['isWeakPassword']">
                {{ customizedFormControls[field.name].errors?.['validationMessage'] }}         
              </div>
            </span>
          </div>
          <h5 id="form-text"> {{ customizedFormText }}</h5>
          <button 
          id="submit-button"
          type="submit" 
          class="btn btn-primary" 
          [disabled]="customizedForm.invalid">Submit
        </button>

        </form>


      </div>
      <div class="modal-footer">

        <button 
          [ngClass]="hasCloseButton === false ? 'no-close-button' : ''"
          type="button" 
          class="btn btn-secondary" 
          data-bs-dismiss="modal" 
          (click)="onCloseForm()">Cancel
      </button>

      </div>
    </div>
  </div>
</div>