.form-open{
  display: block;
}

.form-close{
  display: none;
}

span {
  font-size:small;
}

.no-close-button {
  display: none;
}

#submit-button {
  margin-top: 2%;
}

#form-text {
  margin-left: 90px;
}