.row {
    width: 60%;
    margin: auto;
}

.col {
    border: 1px solid grey;
    border-radius: 5px;
    margin: auto;
    margin-top: 1%;
    width: 90%;
    padding: 10px;
    background-color: #f1f1f1;
}

.items{
    color: grey;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    padding-top: 0%;
    padding-bottom: 1%;
}

h5 {
    padding-bottom: 0%;
    margin-bottom: 0%;
    color: darkslategray;
}

mat-grid-tile {
    background: rgba(246, 246, 248, 0.2);
    border: 1px solid grey;
    border-radius: 5px;
}

#button2 {
 margin-left: 10px;
}

#search1 {
    margin-right: 30px;
}

#superheroeid {
    width: 40px;
    height: 31px;
    margin-left: 10px;
    color: grey;
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 5px;

}

#superherovalue {
    width: 200px;
    height: 31px;
    margin-left: 10px;
    color: grey;
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 5px;
}

.not-visible {
    display: none;
}

#logo {
    position: fixed;
    left: 10%;
    top:10%
}