<div class="row">
    <app-customized-form-component
        id="confirm-delete-dialog"
        [customizedFormTitle]="''"
        [customizedFormText]="'Are you sure to delete this hero?'"
        [isFormModal]=true
        [isFormOpen]="isConfirmDeleteFormOpen"
        (updatedFieldValues)="delete(customizedFormItemToDelete)"
        (hasBeenFormClosed)="hasBeenConfirmDeleteFormClosed()"
    ></app-customized-form-component> 
</div>

<div  class="row">
    <app-customized-form-component
        id="new-update-dialog"
        [customizedFormTitle]="customizedFormTitle"
        [customFields]="customFields"
        [isFormModal]="isFormModal"
        [isFormOpen]="isFormOpen"
        (updatedFieldValues)="updateFieldValues($event)"
        (hasBeenFormClosed)="hasBeenFormClosed()"
    ></app-customized-form-component> 
</div>

<div id="controls-container" class="row">
    
    <div id="logo">
        <img src="./../../../../favicon.ico" alt="Superhero" width="64" height="64">
    </div>

    <div id="title" class="col items">
        <h5>{{ title }}</h5>
    </div>

    <mat-grid-list id="controls-grid" cols="4" rowHeight="100px"  gutterSize="25px" >

        <mat-grid-tile id="mat-grid1">

            <app-customized-button-component 
                id="button1"
                [inputTitle]="'Create'" 
                (outputClick)="createSuperheroe()">
            </app-customized-button-component>

            <app-customized-button-component 
                id="button2"
                [inputTitle]="'Read All'"
                (outputClick)="readAll()">
            </app-customized-button-component>

        </mat-grid-tile>

        <mat-grid-tile id="mat-grid2" [colspan]="3"> 

            <div id="search1">
                <app-customized-button-component 
                    id="button3"
                    [inputTitle]="'Search By Id'" 
                    (outputClick)="readSuperheroeById(superheroeid.value)">
                </app-customized-button-component>
                <input id="superheroeid" type="text"  #superheroeid>
            </div>

            <div id="search2">
                <app-customized-button-component 
                    id="button4"
                    [inputTitle]="'Search By Value'" 
                    (outputClick)="readSuperheroeByValue(superherovalue.value)">
                </app-customized-button-component>
                <input id="superherovalue" type="text"  #superherovalue>
            </div>

        </mat-grid-tile>

    </mat-grid-list>

</div>

<app-customized-data-table-component
    id="data-table"
    [inputArray]="itemsArray"
    (outputUpdateClick)="updateSuperheroe($event)"
    (outputDeleteClick)="deleteSuperheroe($event)"
></app-customized-data-table-component>
