<div>
    <div class="row center">
        <div class="spinner-border text-primary customized-spinner" role="status">
            <span class="visually-hidden">Loading...</span>
            <div class="row">
            </div>
        </div>
        <div class="center">
            <strong class="customized-spinner-text">Loading</strong>
        </div>
    </div>
</div>