@import "../../../@config/styles/styles.scss";

.customized-spinner {
    width: 4rem; 
    height: 4rem;
    --bs-spinner-border-width: 0.40em;
    border: var(--bs-spinner-border-width) solid $primary-customized-green;
    border-right-color: transparent;
}

.customized-spinner-text {
    color: $primary-customized-green;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }