        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="total" matBadge="{{ inputArrayLength }}" matBadgeSize="medium" matBadgePosition="above after" ></p>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col" *ngFor="let fieldName of inputArrayFieldNames;">{{ fieldName }}</th>                           
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of inputArray | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let id = index">                      
                                <td>{{ item['id'] }}</td>
                                <td capitalizeDirective>{{ item['name'] }}</td>
                                <td>{{ item['superpower'] }}</td>
                                <td>                          
                                    <app-customized-button-component
                                        [inputTitle]="'Update'"
                                        (outputClick)="update(item.id)">
                                    </app-customized-button-component> 

                                    <app-customized-button-component
                                        [inputTitle]="'Delete'"
                                        (outputClick)="delete(item.id)">
                                    </app-customized-button-component>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="paginator">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>

