@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-badge-content {
  background: lightgray;
  color: black;
}

.container {
  border: solid 1px grey;
  border-radius: 5px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  height: 400px;
  margin-top: 20px;
}

.paginator {
  position: fixed;
  top: 85%;
  font-size: 14px;
}

td {
  font-size: 12px;
}

th {
  font-size: 14px;
}

.total {
  position: fixed;
  top: 35%;
  left: 85%;
  font-size: 12px;
}

app-customized-button-component {
    margin:1%;
}